<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">


    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 offset-md-1">
                <div class="card bg-primary text-white">
                    <h1 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <th:block th:each="category : ${recipe.getCategories()}">
                                        <li th:text="${category.description}">cat 1</li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getPrepTime()} + ' min'">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getDifficulty()}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getCookTime() + ' min'}">10 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getServings()}">12</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getSource()}">My Blog</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3 bg-dark text-white">
                                <a th:href="@{${recipe.getUrl()}}">URL</a>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
                <div class="card bg-success text-white">
                    <h1 class="card-title" >Ingredients</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <th:block th:each="ingredient : ${recipe.getIngredients()}">
                                        <li th:text="${ingredient.getAmount() + ' ' +
                                                        ingredient.getUnitOfMeasure().getDescription() + ' - ' +
                                                        ingredient.description}">cat 1</li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
                <div class="card bg-info text-white">
                    <h1 class="card-title" >Directions</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getDirections()}">Recipe description</p>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
                <div class="card bg-dark text-white">
                    <h1 class="card-title" >Notes</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getNotes().getNotes()}">Recipe description</p>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>